# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\01 Work-01\PycharmProjects\资料-手把手带你掌握Excel实现管理接口用例\Excel视频资料\代码\excelItem02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
